@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

.container-fluid {
    min-height: calc(100vh - 60px);
    margin: 30px;
}

#top-container {
    height: calc(100vh - 90px);
}

#bottom-container {
    height: 30px;
}

#message-window {
    height: calc(100vh - 90px);
    background-color: #EEE;
    border-top-left-radius: 10px;
    padding: 7px 10px;
}

#users-list {
    height: calc(100vh - 90px);
    border-top-right-radius: 10px;
    background-color: #333;
    color: #EEE;
    font-weight: bold;
}

#users-list > div {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

#users-list > div:hover {
    background-color: #555;
}

#bottom-container textarea {
    height: 30px;
    line-height: 27px;
    padding: 0 10px;
    margin: 0;
    border-bottom-left-radius: 10px;
    resize: none;
}

#bottom-container button {
    height: 30px;
    border: none;
    background-color: #BBB;
    font-weight: bold;
    border-bottom-right-radius: 10px;
}