@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

#top-container {
    width: 100%;
    height: 80%;
    background-color: #FAA;
}

#bottom-container {
    width: 100%;
    height: 20%;
    background-color: #AFA;
}

#message-window {
    float: left;
    width: 80%;
    height: 100%;
    background-color: #AAF;
}

#users-list {
    height: 100%;
    background-color: #FFA;
}

#bottom-container textarea {
    display: block;
    float: left;
    width: 80%;
    height: 100%;
}

#bottom-container button {
    width: 100px;
    height: 50px;
    margin: 20px;
}